.leaflet-container {
    border-radius: 0.5rem;
    border-width: solid 1px gray;
    transition: 2s linear;
}

/* .dark .leaflet-tile {
    filter: brightness(0.7) invert(1) contrast(6) hue-rotate(200deg) saturate(0.5) brightness(0.7);
}

.dark .leaflet-container {
    background: #303030;
} */
